= form_for @rest do |f|
	%fieldset
		%p
			= f.label :name
			= f.text_field :name, autofocus: true
		%p
			= f.label :description
			= f.text_area :description
		%p
			= f.label :address
			= f.text_area :address
		%p
			= f.label :phone_number
			= f.text_field :phone_number
		%p
			= f.submit class: 'btn btn-primary'
			= link_to 'Cancel', root_path
			