
<h1>Listing rests</h1>

<%= link_to 'Add Restaurant', new_rest_path, class: "btn " %>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @rests.each do |rest| %>
  <tr>
    <td><%= rest.name %></td>
    <td><%= rest.description %></td>
    <td><%= link_to 'Show', rest %></td>
    <td><%= link_to 'Edit', edit_rest_path(rest) %></td>

  </tr>
  <% end %>


</table>