<%= form_for (@rest) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>

   <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>

   <p>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </p>

  <p>
      <%= f.label :image %>
      <%= image_tag @rest.image_url(:thumb) if @rest.image? %>
      <%= f.file_field :image, class: 'form-control' %>
      <%= f.hidden_field :image_cache %> 
   </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>