
<h5>
	<strong>Name:</strong>
	<%= @rest.name %>
</h5>

<p>
	<strong>Description:</strong>
	<%=  @rest.description %>
</p>

<p>
	<strong>Address:</strong>
	<%=  @rest.address %>
</p>

<p>
	<strong>Phone number:</strong>
	<%=  @rest.phone_number %>
</p>

<p>
	<%# if @rest.owner != nil%>
    	<strong>Owner: </strong>
	   <%= @rest.owner.name %>
	   <% logger.debug "rest: #{@rest.attributes.inspect}" %>
</p>

<%#= image_tag @rest.image_url %>
<%= image_tag @rest.image_url(:thumb) if @rest.image? %>

<% if owner_signed_in? %>
	<%if current_owner.owns?(@rest) %>
		<%= link_to 'Edit', edit_rest_path(@rest) %>
		<%= link_to 'Destroy', rest_path(@rest),
					method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
<% end %>
<%= link_to 'Back', rests_path %>                    